.post-container
  header
    h1.post-title !{title}
    time.create-date !{date}
  .post-content !{content}
#gitment-container 评论
script.
  var gitment = new Gitment({
  owner: 'EryouHao',
  repo: 'hve-blog',
    oauth: {
      client_id: '54ad41cfbd92940e97fc',
      client_secret: '8befcc625e113bf26780ff937007f5134e1ee2f7',
    },
  })
  gitment.render('gitment-container')